// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
  normal {
    unbind "Ctrl p"
    unbind "Ctrl o"
    unbind "Ctrl b"
    unbind "Ctrl q"
    // uncomment this and adjust key if using copy_on_select=false
    // bind "Alt c" { Copy; }
  }
  pane {
    bind "Ctrl a" { SwitchToMode "Normal"; }
    bind "h" "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
    bind "l" "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
    bind "j" "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
    bind "k" "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
    bind "p" { SwitchFocus; SwitchToMode "Normal"; }
    bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "f" { TogglePaneFrames; SwitchToMode "Normal"; }
    unbind "w"
    bind "Ctrl a" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    unbind "c"
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
  }
  tab {
    bind "Ctrl t" { NewTab; SwitchToMode "Normal"; }
    bind "h" "Left" "Up" "k" { GoToPreviousTab; SwitchToMode "Normal"; }
    bind "l" "Right" "Down" "j" { GoToNextTab; SwitchToMode "Normal"; }
  }
  scroll {
    unbind "Ctrl c"
    bind "G" { ScrollToBottom; SwitchToMode "Normal"; }
  }
  session {
    unbind "Ctrl o"
    bind "Ctrl x" { SwitchToMode "Normal"; }
    bind "q" { Quit; }
  }
  shared_except "locked" {
    unbind "Ctrl q"
    bind "Alt m" { ToggleFocusFullscreen; }
    bind "Alt `" { GoToNextTab; }
    bind "Alt ]" { GoToNextTab; }
    bind "Alt [" { GoToPreviousTab; }
    bind "Alt l" { NextSwapLayout; }
    bind "Alt \\" { NewPane; }
    bind "Alt Left" { FocusPreviousPane; }
    bind "Alt Right" { FocusNextPane; }

    bind "Alt s" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
  }
  shared_except "pane" "locked" {
    bind "Ctrl a" { SwitchToMode "Pane"; }
  }
  shared_except "session" "locked" {
    bind "Ctrl x" { SwitchToMode "Session"; }
  }
  shared_except "tmux" "locked" {
    unbind "Ctrl b"
  }
}

theme "custom"

on_force_close "detach"
simplified_ui true
default_layout "compact"
pane_frames false
copy_on_select true
mouse_mode true
scrollback_editor "vim"
scroll_buffer_size 100000

themes {
  custom {
    fg 220 223 228
    bg 70 74 82
    black 27 29 35
    red 227 63 76
    green 152 195 121
    yellow 229 192 123
    blue 97 175 239
    magenta 198 120 221
    cyan 86 182 194
    white 233 225 254
    orange 216 133 76
  }
}

//ui {
//  pane_frames {
//    hide_session_name true
//  }
//}
